.text-persname {
    background-color: #dcada4;
    text-transform: uppercase;
}

.text-food {
    background-color: #e4a834;
}

.text-body {
    background-color: #9b84ac;
}

.text-strength {
    background-color: #123451;
}

